:root {
  font-family: 'Rajdhani', 'Trebuchet MS', 'Segoe UI', sans-serif;
  line-height: 1.2;
  font-weight: 500;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ecf4ff;
  background: #050912;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

button {
  font: inherit;
}
